*{
  margin: 0;
  padding: 0;
}
.tableRow:hover .deleteCrypto{
  display:block;
}
.spinner{
  display: flex;
  justify-content: center;
}
.spinning{
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
      transform: rotate(360deg);
  }
}